<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>在APP相册中保存图片到手机相册时需要开启相册权限，在扫码添加设备页面时也可以通过扫描手机相册中的二维码来添加设备，如果相册权限不开启，以上功能将无法使用</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>在APP相册中保存图片到手机相册时需要开启相册权限，在扫码添加设备页面时也可以通过扫描手机相册中的二维码来添加设备，如果相册权限不开启，以上功能将无法使用</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flycam</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fcloudsdk_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>需要开启蓝牙，用以使用蓝牙配网功能</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>访问蓝牙权限以用于扫描附近设备</string>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相机</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>需要使用本地网络</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要开启定位已使用wifi配网功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要使用麦克风</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
